<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</div>
<div class="card-product">
  <img src="" />
  <div class="card-product-infos">
    <h2><%= @flat.name%></h2>
    <p><%= @flat.description%></p>
    <p>For <%= @flat.number_of_guests%> guests</p>
    <p>Price per night: <%= @flat.price_per_night%>$</p>
  </div>
</div>
 <% link_to "Edit", edit_flat_path(@flat), class: "btn btn-flat" %>
 <%= link_to "Delete",
  flat_path(@flat), class: "btn btn-flat",
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
 <%= link_to "Back", flats_path, class: "btn btn-flat"%>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
        This page is made by Neve with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
